
<h1>Steam Sauna</h1>

<p>Sup <%= session[:current_user][:nickname] %>!</p>

<p>Let's get yer gam on. Pick some Frenz below an' hit Mash.</p>

<% if @friends.count > 0 %>
  <%= form_tag(:action => 'search') do %>
    <h2>Frenz</h2>

    <ul>
    <% @friends.each do |friend| %>
      <li id="<%= friend['steamid'] %>">
        <a href="#">
          <img alt="" src="<%= friend['avatarfull'] %>" />
          <span><%= friend['personaname'] %></span>
        </a>
      </li>
    <% end %>
    </ul>

    <%= submit_tag("Mash") %>
  <% end %>
<% else %>
  <h2>No frenz!?</h2>

  <p>Seriously, we didn't get any Friends back from the Steam API. Make sure your account is public, and that at least one of your friends also has a public account. We only ask Steam for public information about your account because we respect and care about our users.</p>
<% end %>

