<h1>Welcome#index</h1>
<%= link_to image_tag("http://cdn.steamcommunity.com/public/images/signinthroughsteam/sits_large_noborder.png"), '/auth/steam' %>

<% if session.key? :current_user %>
<h3>Current user:</h3>
<%= image_tag session[:current_user][:image] %>
<p><%= session[:current_user][:nickname] %></p>
<p><%= session[:current_user][:uid] %></p>
<% end %>

<h4>Yer Frenz</h4>
<% if @friends.count > 0 %>
  <%= form_tag do %>
    <ul>
    <% @friends.each do |friend| %>
      <li>
      <%= check_box_tag 'friends[]', friend['steamid'], nil, :id => friend['steamid'] -%>
      <%= label_tag friend['steamid'], "#{image_tag(friend['avatar'])} #{friend['personaname']}".html_safe -%>
      </li>
    <% end %>
    </ul>
  <% end %>
<% else %>
  <div>Sorry, no friends</div>
<% end %>

<h4>Yer Gams</h4>
<ul>
<% if @games %>
  <% @games.each do |game| %>
  <li>
    <%= game_logo(game) %>
  </li>
  <% end %>
<% end %>
</ul>
