<div id="usr" class="header">
  <div>
    <h1>Steam Sauna</h1>

    <%= image_tag session[:current_user][:image] %>

    <p>Sup <em><%= session[:current_user][:nickname] %>!</em></p>

    <p>Let's get yer <em>gam</em> on. Click some <em>Frenz</em> an' hit <em>Mash.</em></p>

    <div class="btn-wrapper">
      <a id="submit" href="#">Mash</a>
    </div>
  </div>
</div>

<div id="frenz" class="steam-data">
  <% if @friends.count > 0 %>
    <ul>
    <% @friends.each do |friend| %>
      <li id="<%= friend['steamid'] %>">
        <a href="#" title="<%= friend['personaname'] %>">
          <img alt="" src="<%= friend['avatarfull'] %>" />
          <span><%= friend['personaname'] %></span>
        </a>
      </li>
    <% end %>
    </ul>
  <% else %>
    <h2>No frenz!?</h2>

    <p>Seriously, we didn't get any Friends back from the Steam API. Make sure your account is public, and that at least one of your friends also has a public account. We only ask Steam for public information about your account because we respect and care about our users.</p>
  <% end %>
</div>

