<div id="peeps" class="header">
  <div>
    <h1>Steam Sauna</h1>

    <% current_user.inspect %>
    <%= image_tag current_user[:image] %>

    <% @friends_to_play_with.each do |friend| %>
      <img alt="<%= friend[:nickname] %>" src="<%= friend[:image] %>" />
    <% end %>

    <p><em><%= current_user[:nickname] %>,</em> here are the <em>gams</em> you and yer <em>frenz</em> all haz:</p>
  </div>
</div>

<div id="gamz" class="steam-data">
  <% if @games_to_play.count > 0 %>
    <ul>
    <% @games_to_play.each do |game| %>
      <% if not game.img_logo_url.empty? %>
        <li><%= game_logo(game) %></li>
      <% end %>
    <% end %>
    </ul>
  <% else %>
    <h2>No gamz!</h2>

    <p>You and your friends don't have any Steam games in common.</p>
  <% end %>
</div>

